<% start_time = Time.now %>
<h1>Listing products</h1>
<h2 id="renderTime"></h2>

<%= button_to "Break products cache", break_cache_products_path, method: :post, class: "button alert", data: {disable_with: "Breaking..."} %>
<%= link_to 'New Product', new_product_path, class: "button secondary" %>

<%= render 'products_table' %>

<br>
<% end_time = Time.now %>

<script>
document.getElementById("renderTime").innerHTML = "Total render time: <%= end_time - start_time %>"
</script>

